body {
    background-color: olive;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

main {
    padding: 10px 100px;
    background-color: #F2EAE0;
    margin: 50px;
    outline: 2px solid black;
}

li { 
    list-style-type: square;
}

