body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}

footer {
    background-color: #261714;
    color: #EADEBA;
    text-align: center;
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: #EADEBA;
    margin: 0;
    padding: 0;
}